{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-decorators-legacy"
  ]
}
