{
  "presets": [
    "stage-0",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 4 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-react-jsx",
    "transform-decorators-legacy"
  ]
}
